@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root{
    --cor-primaria: rgb(41 , 234 , 248);
    --cor-fundo-escuro : #181818;
    --cor-fundo-claro : #252525;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: var(--cor-fundo-escuro);
}

/* NAVBAR */

nav {
    background-color: var(--cor-fundo-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    border-bottom: 1px solid rgb(64, 64, 64);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav h1{
    color: var(--cor-primaria);
}

.nav-links {
    display: flex;
    gap: 40px;
    cursor: pointer;
}

.nav-links p {
    transition: all ease 0.3s;
}

.nav-links p:hover {
    transform: translateX(5px);
    font-weight: 800;
    color: var(--cor-primaria);
}


.conteudo-hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    padding: 0 50px;
    margin-top: 10vh;
    background-color: var(--cor-fundo-escuro);
}

.sobre-mim {
    display: flex;
    flex-direction: column;
}

.sobre-mim h1 {
    font-size: 40px;
    color: var(--cor-primaria);
}

.sobre-mim p {
    color: #cfcfcf;
    font-size: 14px;
    margin-left: 15px;
}

/* FOTO */

.conteudo-foto {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px solid var(--cor-primaria);
    background-image: url("https://media.licdn.com/dms/image/v2/D4D03AQFLphNNyi_M0A/profile-displayphoto-scale_400_400/B4DZy6RJPqI8Ag-/0/1772651594875?e=1774483200&v=beta&t=q9GF8zoK7fuORL6wPm7NkN2xz1tYBDNo_QbRYWKXZao");
    background-size: cover;
    background-position: center;
    transition: all ease 0.3s;
    box-shadow: 0 0 20px var(--cor-primaria);
}

.conteudo-foto:hover{
    transform: scale(1.05);
}

.fa-brands {
    font-size: 30px;
}

.links {
    display: flex;
    gap: 20px;
    margin-top: 10%;
}

.links p {
    display: flex;
    align-items: end;
    font-size: 20px;
    gap: 7px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.links p:hover {
    transform: translateX(5px);
    color: var(--cor-primaria);
}


/* Sliders */

.swiper {
    width: 60%;
  height: 60vh;
  border-radius: 8px;
  border: 1px solid var(--cor-primaria);
  box-shadow: 0 0 10px var(--cor-primaria);
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.swiper-slide img{
    width: 100%;
    object-fit: cover;
    height: 100%;

}

.meus-projetos{
    padding: 5%;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-fundo-claro);
    flex-direction: row;
    justify-content: space-around;
}

.info-projeto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    padding-left: 100px;
}

.info-projeto p {
    color: #cfcfcf;
    font-size: 13px;
}

.tecnologias i{
  font-size: 40px;
  margin: 10px;
}

.html { color: #E34F26; }
.css { color: #1572B6; }
.js { color: #F7DF1E; }
.json { color: #5A5A5A; }
.mysql { color: #4479A1; }

.links-projeto {
    width: 23%;
}
.links-projeto p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.tech {
  position: relative;
  display: inline-block;
}

.tech span {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
  opacity: 0;
}

.tech:hover span {
  opacity: 1;
}